[Unit]
Description=RegionaleFeiertage API
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/dotnet /var/www/regionalefeiertage-api/RegionaleFeiertage.API.dll
Restart=always
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=regionalefeiertage-api
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:5000
WorkingDirectory=/var/www/regionalefeiertage-api

[Install]
WantedBy=multi-user.target